<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/overwrite.css" />
</head>

<body>
  <div class="wrapper">
    <header>

      <nav class="navbar">
        <h1 class="navbar-item is-size-3	">
          <a href="/">Tech Blog</a>
        </h1>

        <div class="navbar-end">

          {{#if loggedIn}}
          <a href="/dashboard" class="navbar-item">dashboard</a>
          <button id="logout" class="btn-no-style navbar-item">logout</button>
          {{else}}
          <a href="/login" class="navbar-item">login</a>
          {{/if}}
        </div>

      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      The best place for tech related blogs!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>