
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    -moz-tab-size:    0; /* Firefox 4+ */
    -o-tab-size:      0; /* Opera 11.5 & 12.1 only */
    tab-size:         0; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}